@import url(//db.onlinewebfonts.com/c/762c72a2791c9d3eadc7e3b6b935aa69?family=SF+UI+Display);

* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: SF UI Display;
  overflow-x: hidden;
}

nav ul {
  margin: 25px;
  border: 0;
  width: 90%;
  background-color: #c7dddf;
}

nav li {
  display: block;
  margin-left: 15px;
  float: right;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #091312;
}

a {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  text-transform: uppercase;

  color: #ffffff;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 202.84%;
  /* identical to box height, or 41px */
  letter-spacing: 0.77em;
  color: #1b8a82;
  margin-top: 35px;
  text-align: center;
}

.lifloat {
  float: left;
}

.lifloat img {
  width: 200px;
  margin-top: -10px;
}

@media screen and (max-width: 600px) {
  .headBackground {
    margin: 0px;
    padding: 0px;
    height: 200px;
    width: 100%;
    background-image: url("../images/anim.gif");
    background-size: 100%;

    top: -25px;
    padding: 25px;
  }

  #myTopnav {
    visibility: visible;
  }
  #sec1 {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
  }
  #sec2 {
    visibility: visible;
    height: 1750px;
    overflow: hidden;
  }
  #navegador {
    visibility: hidden;
  }

  #sec2a {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
  }
  #sec2b {
    visibility: visible;
    height: 400px;
  }

  .sectionfull {
    visibility: hidden;
    height: 0px !important;
    margin: 0px !important;
    overflow: hidden !important;
  }
  .ajustesection4 {
    height: 1350px;
    overflow: hidden;
  }

  .sectioncel {
    visibility: visible;
  }

  .ajustecel {
    height: 1300px;
    overflow: hidden;
  }

  .tabla {
    margin-left: 10%;
    margin-top: 3%;
    max-width: 100%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .cardt2 {
    background: black;
    box-sizing: border-box;
    width: 300px;
    height: 297px;
    text-align: center;
    display: flex inline;
    flex-direction: row;
    margin: auto;
    margin-bottom: 10px;
  }

  .tamaniosection4 {
    height: 800px;
    overflow: hidden;
  }

  input[type="text"] {
    margin-top: 20px;
    width: 70%;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 5px;
  }
  textarea {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-top: 20px;
  }

  input[type="button"] {
    margin-bottom: 32px;
    width: 180px;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 5px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
  }
}
@media screen and (min-width: 601px) {
  input[type="text"] {
    margin-bottom: 32px;
    margin-top: 64px;
    width: 250px;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 10px;
  }
  textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
  }

  input[type="button"] {
    margin-bottom: 32px;
    width: 180px;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 34px;
  }

  .headBackground {
    margin: 0px;
    padding: 0px;
    height: 90vh;
    width: 100vw;
    background-image: url("../images/anim.gif");
    background-size: cover;
    position: relative;
    top: -50px;
    padding: 25px;
  }
  #myTopnav {
    visibility: hidden;
  }
  #sec1 {
    visibility: visible;
  }
  #sec2 {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
  }
  #navegador {
    visibility: visible;
  }

  #sec2b {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
  }
  #sec2a {
    visibility: visible;
  }

  .sectionfull {
    visibility: visible;
  }

  .sectioncel {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
  }

  .tabla {
    margin-left: 10%;
    margin-top: 3%;
    max-width: 100%;
    width: 80%;
    display: flex;
    justify-content: space-around;
  }

  .cardt2 {
    background: black;
    box-sizing: border-box;
    width: 300px;
    height: 297px;
    text-align: center;
    display: flex inline;
    margin-left: 20px;
    flex-direction: row;
  }
}

.button1 {
  width: 133px;
  height: 50px;
  padding-top: 15px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 34px;
  top: -15px;
  position: relative;
}
.button1 p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color: #ffffff;
}

.button2 {
  position: relative;
  background: #009f95;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  text-align: center;
  color: #ffffff;
  padding: 0px;
  padding-right: 10px;
}

.tamaño1 {
  width: 185px;
  height: 48px;
  left: 589px;
  top: 565px;
  padding-left: 25px;
}

.tamaño2 {
  width: 254px;
  height: 48px;
  padding-left: 35px;
}

.tamaño1 p {
  float: left;
  position: relative;
  font-size: 22px;
  top: -23px;
  line-height: 24px;
  text-align: center;
}

.tamaño2 p {
  float: left;
  position: relative;
  font-size: 22px;
  top: 10px;
  line-height: 24px;
  text-align: center;
}
.circulo {
  width: 34px;
  height: 34px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: white;
  float: right;
  position: relative;
  top: -28px;
}
.circulo img {
  width: 7px;
  margin-top: 10px;
}

.circulo2 {
  width: 34px;
  height: 34px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: white;
  float: right;
  position: relative;
  top: 7px;
}
.circulo2 img {
  width: 7px;
  top: -23px;
  position: relative;
}

.flex-container {
  display: flex;
  background-color: none;
}

.flex-container > div {
  width: 50%;
  margin: 10px;
  line-height: 75px;
  font-size: 30px;
  padding-top: 30px;
  background-color: none;
}

.margen {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 39px;
}
.mensaje {
  width: 440px;
  height: 312px;
  float: left;
  position: relative;
  margin-top: 72px;
}

.mensaje h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;

  color: #2d8487;
}

.mensaje p {
  margin-top: 25px;
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  color: #000000;
}

.ajustetamaño {
  height: 120vh;
  overflow: hidden;
}

.bar1 {
  width: 20%;
}

.bar2 {
  overflow: visible;
}

.bar2 img {
  position: relative;
  z-index: 1;
  margin-left: -130px;
  margin-top: 50px;
  width: 120%;
}

.negmargen {
  margin-top: -700px;
  position: relative;
  z-index: 2;
}

.parent {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.parentsegsec {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  margin-left: 23%;
}

.div1 {
  padding: 10px;
  padding-top: 50px;
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  padding: 10px;
  padding-left: 57px;
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  padding: 10px;
  padding-top: 37px;
  grid-area: 2 / 1 / 3 / 2;
}
.div4 {
  padding: 10px;
  padding-top: 17px;
  padding-left: 57px;
  grid-area: 2 / 2 / 3 / 3;
}
.ajuste {
  margin-top: 32px;
}

.div1sec {
  grid-area: 1 / 1 / 2 / 2;
  padding-bottom: 10px;
}
.div2sec {
  grid-area: 2 / 1 / 3 / 2;
  padding-bottom: 10px;
}
.div3sec {
  grid-area: 3 / 1 / 4 / 2;
  padding-bottom: 10px;
}
.div4sec {
  grid-area: 4 / 1 / 5 / 2;
  padding-bottom: 10px;
}

.contenedor {
  background: #ffffff;
  border: 2px solid #555555;
  box-sizing: border-box;
  width: 250px;
  height: 317px;
  border-radius: 20px;
  text-align: center;
  display: flex inline;
  flex-direction: row;
}
.contenedor img {
  margin-top: 40px;
  margin-left: 5px;
  width: 72px;
}

.contenedor p {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 150px;
  margin: 0 auto 0 auto;
  color: #009f95;
}

.contenedor div {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 200px;
  padding-top: 15px;
  margin: 0 auto 0 auto;
}

.button3 {
  position: relative;
  background: #009f95;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  text-align: center;
  color: #ffffff;
  padding: 0px;
  padding-right: 10px;
  float: right;
}

.tamaño3 {
  width: 254px;
  height: 48px;
  padding-left: 10px;
}

.tamaño3 p {
  float: right;
  position: relative;
  font-size: 22px;
  top: 10px;
  left: -30px;
  line-height: 24px;
  text-align: center;
}

.circulo3 {
  width: 34px;
  height: 34px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: white;
  float: left;
  position: relative;
  top: 7px;
}
.circulo3 img {
  width: 7px;
  top: 9px;
  position: relative;
  transform: scaleX(-1);
  margin-left: -2px;
}
.mensaje2 {
  width: 440px;
  height: 312px;
  float: right;
  padding-top: 90px;
  position: relative;
  text-align: right;
  left: 30%;
}

.mensaje2 h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;

  color: #2d8487;
}

.mensaje2 p {
  margin-top: 25px;
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  color: #000000;
}

.image {
  width: 620px;
  margin-left: 60px;
}
.flex-container2 {
  display: flex;
  background-color: none;
}

.cardt {
  background: #ffffff;
  border: 2px solid #555555;
  box-sizing: border-box;
  width: 220px;
  height: 320px;
  border-radius: 20px;
  text-align: center;
  display: flex inline;
  flex-direction: row;
  padding: 15px;
}
.cardt img {
  margin-top: 10px;
  width: 100px;
}

.cardt p {
  font-family: SF UI Display;
  color: #009f95;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 25px;
}

.cardt div {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-top: 25px;
}

.img1 {
  width: 20px;
  position: relative;
  top: 10px;
  left: 130px;
}

.img2 {
  width: 20px;
  position: relative;
  top: 20px;
  left: 130px;
}

.cardt2 div {
  width: 300px;
  height: 46px;
  position: relative;
  top: 70%;
  background-color: rgba(46, 138, 138, 0.6);
}

.p1 {
  width: 300px;
  text-align: center;
  font-size: 18px;
  color: white;
  position: relative;
  top: -20px;
}
.p2 {
  width: 100%;
  text-align: center !important;
  font-size: 13px;
  color: white;
  position: relative;
  top: -15px;
}

/* Quinta parte */

.contq1 {
  width: 30%;
  float: left;
}

.contq1 img {
  width: 280px;
  margin-left: 40%;
  margin-top: 56px;
}

.contq2 {
  width: 70%;
  float: right;
  padding-top: 2%;
  margin-top: 50px;
  text-align: center;
  left: 0%;
}

.comentarios {
  width: 479px;
  height: 272px;
  margin: 0 auto 0 auto;
  margin-left: 108px;
  margin-top: 100px;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.firma {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 50px;
}

.arrow {
  margin: 0 auto 0 auto;
  position: relative;
  top: -200px;
  width: 30px;
  left: 20%;
}

.emp {
  display: flex;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  width: 80%;
  margin: 0 auto 0 auto;
  text-align: center;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  top: 60px;
}

.empp {
  margin-left: 80px;
}

.selected {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #00656f;
}

.margen2 {
  margin: 80px;
  height: 500px;
}

.contenedorfoot {
  color: white;
  width: 100%;
}

.contenedorfoot p {
  margin-top: 32px;
}

.foot {
  width: 100%;
  height: 700px;
  padding: 80px;
  background: linear-gradient(180deg, #01666f 0%, #009f95 133.16%);
}

.linea {
  width: 80%;
  margin-top: 32px;
  background: white;
  height: 2px;
}

.p11 {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  text-align: left;
}

.p22 {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: white;
}

.parentcont {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
  height: 450px;
}

.div1cont {
  grid-area: 1 / 1 / 3 / 2;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 45px;
  /* or 161% */

  color: #ffffff;
}
.div2cont {
  grid-area: 1 / 2 / 3 / 5;
}

.parentFORM {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1form {
  grid-area: 1 / 1 / 2 / 2;
}
.div2form {
  grid-area: 1 / 2 / 2 / 3;
  padding-left: 10px;
}
.div3form {
  grid-area: 1 / 3 / 2 / 4;
  padding-left: 10px;
}
.div4form {
  grid-area: 2 / 1 / 3 / 4;
}
.div5form {
  grid-area: 3 / 1 / 4 / 2;
}
.div6form {
  grid-area: 3 / 2 / 4 / 3;
}
.div7form {
  grid-area: 3 / 3 / 4 / 4;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.margencel {
  margin-left: 10px;
  text-align: center;
  margin-right: 10px;
}

.containertestimonial {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  font-family: SF UI Display;
  font-style: normal;
  width: 100% !important;
  height: 160px !important;
}

.containertestimonial::after {
  content: "";
  clear: both;
  display: table;
}

.containertestimonial img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.containertestimonial span {
  font-size: 20px;
  margin-right: 15px;
}
